@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');

html {
  font-family: 'Lato',sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#heading {
  font-size: 48px;
  margin: 100px;
}
#redhot {
  height: 5rem;
  width: 15rem;
  font-size: 1.5rem;
  color: #fff;
  background-color: #1a8cff;
  border-radius: 0.3rem;
  cursor: pointer;
  outline: 0;
  box-sizing: border-box;
}

#redhot:hover {
  background-color: red;
}
