@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');

html {
  font-family: 'Lato',sans-serif;
  font-size: 16px;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.box {
  background-color: #f2f2f2;
  width: 30%;
  padding: 50px 0;
  margin: 100px 0;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 50px 0 #ccc;
}
.contact {
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: column;
  line-height: 2;
  align-self: center;
}

.input span {
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}

.input input {
  font-size: 24px;
  outline: 0;
}

.btn {
  align-self: center;
  margin-top: 30px;
}

.btn button {
  padding: 10px 20px;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 5px;
  background-color: #1a8cff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  outline: 0;
}

.btn button:hover {
  background-color: #006633;

}

/* Responsive */

@media all (max-width:505px) {
  .container {
    width: 90%;
  }
  
  .box {
    width: 90%;
  }
}
