body {
  background-color: #171720;
  color: #efefef;
  font-family: 'Cutive Mono', cursive;
  font-size: 2rem;
}
body .secret {
  line-height: 2;
  text-align: center;
}
body .secret:nth-child(2) {
  position: fixed;
  z-index: -1;
}
body .secret:nth-child(3) {
  position: absolute;
  margin: 200px 0;
}

.hidden {
  color: transparent;
}

.content-placeholder {
  min-height: 500vh;
}

.info {
  font-family: 'Bangers', cursive;
  font-size: 4rem;
  text-align: center;
  padding: 50px 0;
  margin-bottom: 25px;
  color: #e6c9fc;
}
