@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');

html {
  font-size: 16px;
}
* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato',sans-serif;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
}

/* Header */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 0;
  padding: 2rem 4rem;
}

.logo {
  display: inline-block;
  font-weight: bold;
  /* position: absolute;
  top: 2rem;
  left: 12rem; */
  text-align: center;
}

.logo a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
}

.logo a:hover {
  color: #FFF;
}

.list {
  display: flex;
  /* position: absolute; */
  /* right: 6rem;
  top: 2rem; */
}

.list li a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  padding: 0 0.7rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  font-weight: 300;
}

.list li a:hover {
  color: #E3AE57;
}

.mobile-menu {
  display: none;
}

/* Hero */
#hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 10% 90%; */
  font-family: 'Lato', sans-serif;
}

.hero-img {
  background-image: url(images/home-img.jpg);
  background-size: cover;
  grid-column: 1/2;
  /* grid-row: 2/2; */
  background-position: 50% 50%;
}

.hero-text {
  padding: 20% 3%;
  background-color: #F5E3D7;
  grid-column: 2/2;
  /* grid-row: 2/2; */
}

.hero-text span {
  text-transform: uppercase;
  font-weight: 100;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: 300;
  padding: 4% 0;
  line-height: 1;
}

.hero-text h1 span {
  font-weight: 400;
  text-transform: capitalize;
}

.hero-text p {
  font-weight: 100;
  line-height: 2rem;
}

.btn {
  width: 10rem;
  height: 3.5rem;
  border-radius: 2rem;
  background-color: transparent;
  border: 2px solid;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin: 1rem 0;
}

.btn:hover {
  background-color: #E3AE57;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Skills */
#skills {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  font-family: 'Lato', sans-serif;
}

.skills-text {
  grid-column: 1 / span 2;
  grid-row: 1/2;
  padding: 2rem;
}

.skills-text h2 {
  font-size: 2.5rem;
  padding: 1rem 0;
  font-weight: 300;
}

.skills-text span {
  color: #E3AE57;
  padding: 5% 0;
}

.skills-text p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.05rem;
  padding-top: 1rem;
}

.sofa-image {
  background: url(images/about-img.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  grid-column: 3/4;
  grid-row: 1/2;
}

.my-skills {
  background-color: #E3AE57;
  padding: 2rem;
}

.my-skills h2 {
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 0.6rem;
  color: #fff;
}

.text {
  color: #fff;
}

.skills-percentage {
  margin: 1rem 0;
}

.percentage {
  height: 0.2rem;
  width: 100%;
  background-color: #fff;
  margin: 0.9rem 0;
}

.progress {
  background-color: #000;
  z-index: 1;
  height: 100%;
}

.skills-box {
  padding: 2rem;
  color:#fff;
  text-align: center;
}

.skills-box h3 {
  font-size: 2rem;
  color: #fff;
  line-height: 2.5rem;
  font-weight: 300;
}

.skills-box i {
  font-size: 3rem;
  padding: 1rem;
}

.skills-box p {
  padding: 1rem;
  line-height: 2rem;
  font-weight: 300;
}
.interface-design {
  background-color: #E3AE57;
  height: auto;
}

.media-strategy {
  background-color: #FC683E;
}

.mobile-app {
  background-color: #161616;
}

.coding .skills-box {
  background-color: #fff;
  color: #000;
}

.coding .skills-box h3 {
  background-color: #fff;
  color: #000;
}

  /* Experience */

#experience {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.phone-img {
  grid-column: 1/2;
  grid-row: 1/2;
  background: url(images/experience-img.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.my-exp {
  grid-column: 2/2;
  grid-row: 1/2;
  background-color: #FC683E;
}

.my-edu {
  grid-column: 1/2;
  grid-row: 2/2;
  background-color: #E3AE57;
}

.notes-img {
  grid-column: 2/2;
  grid-row: 2/2;
  background: url(images/education-img.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.exp-box {
  padding: 4rem 2rem;
  color:#fff;
}
.exp-box h3{
  font-size: 2rem;
  color: #fff;
  font-weight: 300;
}

.exp-box span {
  display: block;
  font-weight: 300;
  padding: 1rem 0;
}


.mini-box {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
}

.mini-box i {
  font-size: 2rem;
  /* order: 1; */
}

.box-text {
  /* order: 2; */
  padding: 0 1rem;
}

.mini-box h4 {
  font-size: 1.9rem;
  color: #fff;
  padding: 0 1rem;
  font-weight: 300;
}

.mini-box h4 small {
  font-size: 50%;
  color: #633;
  text-transform: uppercase;
  font-weight: 700;
  align-self: flex-end;
}

.mini-box p {
  padding: 1rem;
  font-weight: 300;
}

  /* Contact */

#contact {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.contact-form {
  grid-column: 1 / span 2;
  background-color: #FC683E;
  padding: 2rem;
}

.contact-form h3 {
  font-size: 2.5rem;
  font-weight: 300;
  color: #fff;
  padding: 1rem 0;
}

.contact-form p {
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.02rem;
  font-weight: 100;
  padding-bottom: 1rem;
}

.c-form {
  display: flex;
  flex-direction: column;
}

.c-form input {
  background-color: transparent;
  font-size: 1rem;
  color: #fff;
  font-weight: 300;
  padding: 0.5rem;
  outline: 0;
  border: none;
  border-bottom: 1px solid #E3AE57;
  margin: 1rem 0;

}

.c-form input::placeholder {
  color: #fff;
  font-weight: 300;
}

.c-form input:focus {
  border-bottom: 1px solid #fff;
}

.c-form textarea {
  background-color: transparent;
  font-size: 1rem;
  color: #fff;
  font-weight: 300;
  padding: 0.5rem;
  outline: 0;
  border: none;
  border-bottom: 1px solid #E3AE57;
  margin: 1rem 0;
}

.c-form textarea::placeholder {
  color: #fff;
  font-weight: 300;
}

.c-form textarea:focus {
  border-bottom: 1px solid #fff;
}

.contact-form .btn {
  width: 15rem;
  height: 2.5rem;
  border-radius: 2rem;
  background-color: #fff;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 100;
  margin: 1rem 0;
}

.contact-form .btn:hover {
  background-color: transparent;
  border: 0.1rem solid #fff;
}
.contact-img {
  background: url(images/contact-img.jpg) no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  grid-column: 3/4;
}

.address {
  grid-column: 4/4;
  background-color: #000;
  color: #fff;
  padding: 2.5rem;
}

.contact-address h3{
  font-size: 2rem;
  color: #fff;
  line-height: 2.5rem;
  font-weight: 300;
  padding: 1rem 0;
}

.contact-address p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #888;
  padding: 0.5rem 0;
}

.contact-details h3{
  font-size: 2rem;
  color: #fff;
  line-height: 2.5rem;
  font-weight: 300;
  padding: 1rem 0;
}

.contact-details p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #888;
  padding: 0.5rem 0;
}

.contact-details a {
  color: #E3AE57;
  text-decoration: none;
}

.contact-details a:hover {
  cursor: pointer;
}

.contact-details i {
  padding: 0 1rem;
}

  /* Footer */

#footer {
  display: grid;
  grid-template-columns: 1fr;
  padding: 3rem;
  text-align:center;
}

.social-icons ul{
  display: flex;
  justify-content: center;
}

.social-icons li {
  display: grid;
  height: 3rem;
  width: 3rem;
  margin: 1rem;
  border-radius: 50%;
  justify-content: center;
  align-content: center;
  color: #999;
}
.social-icons li a {
  text-decoration: none;
  font-size: 2rem;
  color: #999;
}

.social-icons li:hover {
  background: #E3AE57;
  border-color: #fff;
  color: #fff;
  /* transform: scale(1.1); */
}

.social-icons li a:hover {
  background: #E3AE57;
  border-color: #fff;
  color: #fff;
  /* transform: scale(1.1); */
}

 /* Responsive */

 @media all and (max-width:500px) {

   html {
     font-size: 14px;
   }

  #hero, #skills, #experience, #contact, #footer {
    display: flex;
    flex-direction: column;
  }
  .img-responsive {
    height: 80vh;
  }

  .list {
    display: none;
    position: absolute;
    width: 100%;
    background: #E3AE57;
    left: 0;
    top: 5.5rem;
    text-align: center;
  }

  .list li {
    border-bottom: 0.15rem solid;
    padding: 0.5rem;
    margin: 0 auto;
  }

  .list li a {
    font-size: 1.5rem;
    color: #000;
    font-weight: 300;
    letter-spacing: 0.5rem;
  }

  .list li a:hover {
    font-size: 1.5rem;
    color: #000;
    font-weight: 300;
  }

  #bars-toggle:checked ~ .list{
  display: block;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .mobile-menu {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    position: absolute;
    right: 1rem;
    top: 2.4rem;
  }
 }

 @media all and (min-width:501px) and (max-width:960px) {

   html {
     font-size: 15px;
   }

  #hero, #skills, #experience, #contact, #footer {
    display: flex;
    flex-direction: column;
  }

  .img-responsive {
    height: 80vh;
  }

  .list {
    display: none;
    position: absolute;
    width: 100%;
    background: #E3AE57;
    left: 0;
    top: 5.5rem;
    text-align: center;
  }

  .list li {
    border-bottom: 0.15rem solid;
    padding: 0.5rem;
    margin: 0 auto;
  }

  .list li a {
    font-size: 1.5rem;
    color: #000;
    font-weight: 300;
    letter-spacing: 0.5rem;
  }

  .list li a:hover {
    font-size: 1.5rem;
    color: #000;
    font-weight: 300;
  }

  #bars-toggle:checked ~ .list{
  display: block;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .mobile-menu {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    position: absolute;
    right: 1rem;
    top: 2.4rem;
  }
 }
