body {
  font-family: 'Lato',sans-serif;
}

.page {
  margin: 0 auto;
  font-family: 'Lato',sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
* {
  box-sizing: border-box;
}

/* =================================
              Navigation
================================= */

.navbar {
  height: 100px;
  width: 100%;
  background-color: #2C3E50;
}

.navbar nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.img-logo {
  height: 80px;
  /* width: 30%; */
  align-self: flex-start;
}

.navbar li {
  margin: 0px 10px;
}

.navbar ul {
  display: flex;
  /* justify-content: space-evenly; */
  margin: 40px 0px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.more {
  position: absolute;
  /* width: 10%; */
  display: none;
  top: 100px;
  right:50px;
  background-color: #2C3E50;
}

.more ul {
  margin: 20px 0px;
}
.navbar li:hover .more {
  display: block;
  color: #fff;
}

.navbar li:hover .more ul li {
  display: block;
  color: #fff;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 5px solid #fff;
  display: inline-block;
  vertical-align: middle;
}
/* =================================
              Hero
================================= */

#hero {
  background: linear-gradient(to bottom, #2D525A, #4B9B7C);
  text-align: center;
}

#hero h1 {
  font-size: 48px;
  color: #fff;
  padding-bottom: 30px;
  line-height: 1.5;
}

#hero p {
  font-size: 24px;
  color: #fff;
}

.hero-text {
  padding: 100px 0;
}


/* =================================
              Portfolio
================================= */

.portfolio {
  padding: 100px 0;
  text-align: center;
}

.portfolio-title {
  font-size: 48px;
  color: #2C3E50;
  text-transform: uppercase;
  font-weight: 400;
}

.portfolio-items {
  display: flex;
  flex-flow:wrap;
  justify-content: center;
}

.p-item {
  flex: 0 0 320px;
  /* max-width: 33.33%; */
  height: auto;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 10px 0;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

/* =================================
              About
================================= */

#about {
  background: linear-gradient(to bottom, #2D525A, #4B9B7C);
  text-align: center;
  padding: 100px 0;
}

#about .row {
  justify-content: center;
}
.about-title {
  font-size: 48px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  padding: 20px 0;
}

.about-text {
  font-size: 18px;
  color: #fff;
  width: 150px;
  margin: 0 50px;
  text-align: left;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* flex-basis: auto; */
  /* flex: 1 100%; */
}

.about button {
  height: 50px;
  width: 200px;
  background-color: #fff;
  color: #000;
  font-size: 22px;
  border-radius: 10px;
  margin: 20px 0;
  border: 1px solid #000;
}

.about button:hover {
  background-color: #3ebcff;
  color: #fff;
}

/* =================================
              Contact
================================= */

.contact {
  text-align: center;
  padding: 100px 0;
}

.contact-title {
  font-size: 48px;
  color: #2C3E50;
  text-transform: uppercase;
  font-weight: 400;
  padding: 20px 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
}
.contact-form input {
  height: 50px;
  max-width: 100%;
  border: none;
  border-bottom: 1px solid;
  outline: 0;
  width: 45%;
  align-self: center;
  text-transform: capitalize;
  font-size: 20px;
  margin: 5px 0;
}
.contact-form textarea {
  height: 200px;
  max-width: 100%;
  border: none;
  border-bottom: 1px solid;
  outline: 0;
  width: 45%;
  align-self: center;
  text-transform: capitalize;
  font-size: 20px;
  margin: 5px 0;
}

.contact-form button {
  height: 60px;
  width: 10%;
  background-color: #326D5E;
  color: #fff;
  font-size: 25px;
  align-self: center;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #fff;
  color: #000;
}

/* =================================
              Location
================================= */

#location {
  background-color: #BDC7D2;

}
.location {
  text-align: center;
  padding: 100px 0;
}
.location-title {
  font-size: 48px;
  color: #2C3E50;
  text-transform: uppercase;
  font-weight: 400;
  padding: 20px 0;
  margin: 20px 0;
}

/* =================================
              Table
================================= */

#table {
  display: flex;
}

.table {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  border-collapse: collapse;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #1E2639;
}
th,
td {
  padding: 10px 15px;
  width: 10rem;
  text-align: center;
}

thead {
  background: #395870;
  color: #fff;
}

tbody tr:nth-child(even) {
  background: #323C50;
  color: #fff;
}

.platform {
  display: block;
  color: red;
}

/* =================================
              Pre-Foooter
================================= */
#pre-footer {
  background-color: #2C3E50;
  padding: 100px 0;
}

/* .prefooter {
  display: flex;
  justify-content: space-between;
} */

.prefooter-item {
  text-align: center;
  color: #fff;
}

.prefooter-item h2 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.prefooter-item p{
  font-size: 20px;
}

.prefooter-item li {
  font-size: 30px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 0 5px;
  padding: 10px;
}

/* =================================
              Foooter
================================= */

#footer {
  background-color: #19242E;
  text-align: center;
  padding: 30px 0;
  color: #fff;
}
