.container {
  width: 65em;
  margin: 250px auto;
  font-family: 'Lato',sans-serif;
  text-align: center;
}

.grow {
  font-size: 30px;
}

.grow:hover {
  font-size: 150px;
  transition: 0.5s ease-in;
}
